extends layout

block content
  div(class="p-3")
    form(class="d-flex justify-content-center", method="post", action="/")
        div(class="flex-fill mr-2", style="max-width: 400px")
            input(
              type="text"
              maxlength="64"
              name="message"
              value="#{message}"
              class="form-control mr-2"
              placeholder="Säg något till mig på svenska"
              autocomplete="off"
              autofocus=isValidTime
              readonly=!isValidTime
            )
        div
            button(type="submit", class="btn btn-primary", disabled=!isValidTime ) Skicka


    - if (isValidTime == false)
      div(class="d-flex justify-content-center mt-3")
        div(class="alert alert-danger text-center", role="alert", style="max-width: 400px") Det går inte att skicka meddelanden nu<br>Öppet vardagar 9 - 16


